*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
    margin-top: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f3f7;
}
h2{
    color: #4a89dc;
    font-size: 1.6em;
}
p{
    line-height: 1.5em;
    max-width: 40%;
    margin: auto;
}
img{
    width: 50%;
    height: auto;
}


button,a{
    font-size:medium;
    color: violet;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
    text-decoration: none;
}
